/* Base Reset */
* {
    margin: 0px;
    padding: 0px;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
   background: white;
   margin: 0;
   padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    background: transparent;
    margin: 30px 30px;
    width: 100%;
}

header > .logo {
    display: flex;
    justify-content: flex-start;
    padding-right: 10px;
    margin-right: 10;
    margin-left: 40px;
    width: 60vw;
}

.logo > img {
    max-width: 100%;
    display: block;
    height: auto;
}

header > .trial {
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    margin-right: 40px;
    padding-left: 10px;
    width: 20vw;
}

.trial > input {
    background-color: white;
    color: hsl(322, 100%, 66%);
    border-radius: 15px;
    width: 150px;
    height: 35px;
    border: 2px solid hsl(322, 100%, 66%);
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 70px
}

.intro > h1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px; 
    margin: 0 auto 20px auto;
    width: 100%;
    padding-left: 20px;
}

@media (max-width: 600px){
    .intro > h1 {
        font-size: 22px;
        text-align: center;
    }
}

.intro > p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px; 
    margin: 0 auto 20px auto;
    width: 35%;
    text-align: center;
}

.intro > input {
    background-color: hsl(322, 100%, 66%);
    color: white;
    border-radius: 30px;
    width: 250px;
    height: 50px;
    border: 2px solid hsl(322, 100%, 66%);
    box-shadow: 0px 2px 0px 0px rgb(219, 217, 217);
}

@media (max-width: 600px){
    .intro > input {
        width: 150px;
    }
}

.screen-mockups {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    width: 55%;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 60px;
}

.communities > img {
    width: 25%;
    margin-bottom: 5px;
}

.communities > h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 80px;
}

.communities > span {
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.messages > img {
    width: 20%;
    margin-bottom: 5px;
}

.messages > h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 80px;
}

.messages > span {
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

@media (max-width: 600px){
    .stats {
        flex-direction: column;
        justify-content: center;
    }

    .stats .communities {
        margin-bottom: 20px;
    }

    .communities > img {
        width: 20%;
        margin-bottom: 1px;
    }

    .communities > h2 {
        font-size: 55px;
    }

    .communities > span {
        font-size: 12px;
    }

    .messages > img {
        width: 15%;
        margin-bottom: 1px;
    }

    .messages > h2 {
        font-size: 55px;
    }

    .messages > span {
        font-size: 12px;
    }
}

.main1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 70px auto;
}

.main1 > #section1-top-mobile, #section1-bottom-mobile {
    display: none;
}

@media (max-width: 600px){
    .main1 > #section1-top-desktop, #section1-bottom-desktop{
        display: none;
    }

    .main1 > #section1-top-mobile, #section1-bottom-mobile{
        display: block;
        width: 100%;
    }
}

.section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    background-color: hsl(207, 100%, 98%);
    width: 100%;
}

.section1 > img {
    width: 500px;
    max-width: 100%;
    display: block;
    height: auto;
    padding: 20px;
    margin-right: 60px;
}

.section1 .text1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    margin-right: 20px;
}

.text1 > h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.text1 > p {
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

@media (max-width: 600px){
    .section1 {
        flex-direction: column;
        align-items: center;
    }
    .section1 > img {
        width: 350px;
        padding: 5px;
        margin-top: 20px;
    }

    .text1 > h2 {
        font-size: 30px;
    }

    .text1 > p {
        font-size: 14px;
    }
}

.section2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 140px auto 30px auto;
    padding-top: 20px;
}

.section2 > img {
    width: 500px;
    max-width: 100%;
    display: block;
    height: auto;
    padding: 20px;
    margin-left: 60px;
}

.section2 > .text2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
    margin-left: 20px;
}

.text2 > h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.text2 > p {
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

@media (max-width: 600px){
    .section2 {
        flex-direction: column;
        align-items: center;
    }

    .section2 > img {
        width: 300px;
        padding: 5px;
        margin-bottom: 20px;
    }

    .text2 > h2 {
        font-size: 30px;
    }

    .text2 > p {
        font-size: 14px;
    }
}

.main3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 70px auto;
}

.main3 > #section3-top-mobile, #section3-bottom-mobile {
    display: none;
}

@media (max-width: 600px){
    .main3 > #section3-top-desktop, #section3-bottom-desktop{
        display: none;
    }

    .main3 > #section3-top-mobile, #section3-bottom-mobile{
        display: block;
        width: 100%;
    }
}

.section3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    background-color: hsl(207, 100%, 98%);
    width: 100%;
}

.section3 > img {
    width: 500px;
    max-width: 100%;
    display: block;
    height: auto;
    padding: 20px;
    margin-right: 60px;
}

.section3 .text3 {
    width: 42%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    margin-right: 20px;
}

.text3 > h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.text3 > p {
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

@media (max-width: 600px){
    .section3 {
        flex-direction: column;
        align-items: center;
    }

    .section3 > img {
        width: 300px;
        margin-top: 20px;
        padding: 5px;
    }

    .text3 > h2 {
        font-size: 30px;
    }

    .text3 > p {
        font-size: 14px;
    }
}

.ready {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}

.ready > h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.ready > input {
    background-color: hsl(322, 100%, 66%);
    color: white;
    border-radius: 30px;
    width: 250px;
    height: 50px;
    border: 2px solid hsl(322, 100%, 66%);
    box-shadow: 0px 2px 0px 0px rgb(219, 217, 217);
}

@media (max-width: 600px){
    .ready > h2 {
        font-size: 30px;
        text-align: center;
    }

    .ready > input {
        width: 150px;
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer > #footer-mobile {
    display: none;
}

@media (max-width: 600px){
    footer > #footer-desktop {
        display: none;
    }
  
    footer > #footer-mobile {
        display: block;
        width: 100%;
    }
}

footer .footerInfo {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    background-color: hsl(192, 100%, 9%);
}

@media (max-width: 600px){
    footer .footerInfo {
        flex-direction: column;
        align-items: center;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    margin: 125px 20px 80px 30px;
    padding-top: 10px;
}

@media (max-width: 600px){
    .contact {
        margin: 20px 0;
    }
}

.lorem {
    margin-bottom: 20px;
    padding: 10px;
}

.lorem > img {
    margin-bottom: 20px;
    background-color: white;
}

.lorem > p {
    color: white;
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 60%;
    margin: 10px 0 10px 0;
}

@media (max-width: 600px){
    .lorem {
        margin-bottom: 5px;
    }

    .lorem > p {
        font-size: 14px;
        width: 100%;
        margin-bottom: 5px;
    }
}

.phone {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.phone > img {
    margin-right: 10px;
    padding: 10px;
}

.phone > p {
    color: white;
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.email {
    display: flex;
    margin-bottom: 60px;
    align-items: center;
}

.email > img {
    margin-right: 10px;
    padding: 10px;
}

.email > p {
    color: white;
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

@media (max-width: 600px){
    .phone > img {
        margin-right: 5px;
        padding: 5px;
    }

    .phone > p {
        font-size: 12px;
    }

    .email > img {
        margin-right: 5px;
        padding: 5px;
    }

    .email > p {
        font-size: 12px;
    }
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media > img {
    padding: 10px 5px 10px 0;
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    margin: 125px 30px 80px 20px;
    padding-top: 10px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.newsletter > h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: white;
}

.newsletter > p {
    color: white;
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    width: 60%;
    margin: 10px 0;
}

@media (max-width: 600px){
    .news {
        margin: 20px 0;
        padding-top: 0;
    }

    .newsletter > h3 {
        font-size: 25px;
    }

    .newsletter > p {
        font-size: 13px;
        width: 100%;
        margin: 0;
    }
}

.subscribe-div #textInfo {
    width: 50%;
    border: none;
    border-radius: 4px;
    background-color: white;
    height: 45px;
    margin-right: 20px;
}

.subscribe-div #subscribe {
    background-color: hsl(322, 100%, 66%);
    color: white;
    border-radius: 4px;
    width: 150px;
    height: 45px;
    border: none;
    font-weight: 700;
    margin-left: 20px;
}

@media (max-width: 600px){
    .subscribe-div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .subscribe-div #textInfo {
        width: 100%;
        margin-bottom: 10px;
    }

    .subscribe-div #subscribe {
        width: 100%;
        margin: auto;
    }
}

.attribution {
    display: flex;
    justify-content: flex-end;
    background-color: hsl(192, 100%, 9%);
    color: white;
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.attribution > a {
    text-decoration: none;
    color: white;
    padding: 0 3px 0 3px;
}

@media (max-width: 600px){
    .attribution {
        font-size: 10px;
    }

    .attribution > a {
        padding: 0 2px 0 2px;
    }
}
